.App {
  text-align: center;
  font-family: "VT323";
  background: black;
  min-height: 100vh;
  color: white;
  font-size: 2rem;

  padding: 20px;
  background: rgb(93,10,61);
background: linear-gradient(180deg, rgba(93,10,61,1) 0%, rgba(0,0,0,1) 100%);
}


.danger{
  color: red;
}